doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    title #{ ui.title }
    | !{ ui.css }
    | !{ ui.__style }
  body
    | !{ ui.__head }
    | !{ ui.__screen }
    | !{ ui.__foot }
    | !{ ui.js }
    | !{ ui.__script }
